:root {
    --bg: black;
    --fg: white;
}

html {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Anonymous Pro', monospace;
    font-style: italic;
    color: var(--fg);
}

body {
    width: 80%;
    max-width: 1200px;
    border: 1px solid var(--fg);
    margin: 10px auto;
    padding: 0;
    background-color: var(--bg);
    font-size: 150%;
}

a {
    color: var(--fg);
}

a:hover {
    font-style: normal;
}

div.maincontent {
    margin: 0;
    padding: 0px 30px;
}

.dropdown {
   position: relative;
}

.dropdown-content {
    list-style-type: none;
    display: none !important;
    position: absolute;
    background-color: var(--bg);
    min-width: 160px;
    padding: 0;
    z-index: 2;
    border: 1px solid var(--fg);
    border-bottom: none;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

.dropdown-content > * {
    border-bottom: 1px solid var(--fg);
    margin: 0;
    padding: 10px;
}

.dropdown-r {
    text-align: right;
    right: -1px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid var(--fg);
}

li.navitem {
    float: left;
    height: 50px;
}

li.navitemr {
    float: right;
}

li.navitem > *:not(.dropdown-content) {
    display: block;
    height: 30px;
    padding: 10px;
    border-right: 1px solid var(--fg);
}

li.navitemr > *:not(.dropdown-content) {
    border-right: none;
    border-left: 1px solid var(--fg);
}

.footer {
    width: 100%;
    margin: 0;
    padding: 30px 0 10px 0;
}

.footer p {
    text-align: center;
    margin: 0 auto;
}

input[type=text], input[type=password] {
    border: 1px solid var(--fg);
    border-radius: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-size: inherit;
    font-family: inherit;
    padding: 5px;
}

button {
    padding: 10px;
    border: 1px solid var(--fg);
    background-color: var(--bg);
    color: var(--fg);
    font-size: inherit;
    font-family: inherit;
    font-style: italic;
    text-decoration: underline;
}

button:hover {
    font-style: normal;
}
